.font {
  font-family: "Almendra Display", serif;
  font-weight: 400;
  font-width: 100%;
  font-style: normal;
  font-size: 5rem;
  font-color: rgb(75, 0, 130);
}

.bg {
    background-color: rgb(216, 189, 239);
}

.img-fluid {
  max-width:100%;
  height:auto;
}

.header {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
}

.container {
  padding: 15px 30px;
}
